*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

*::selection{
    color: white;
    background-color: yellow;
}

* h1,h2,h3,h4,h5,h6 {
    color: var(--brown);
}

a{
    text-decoration: none;
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

:root{
    --darklight-yellow: #ad924b;
    --light-yellow: #ffdd83;
    --white: #fff4db;
    --brown: #802600;
}

nav{
    height: 30vh;
    width: 100vw;
}

.red{
    margin-top: 22%;
    height: 100vh;
    width: 98vw;
}

.navbarContainer{
    height: 25vh;
    width: 100vw;
    background: linear-gradient(to bottom, var(--darklight-yellow), var(--light-yellow), var(--white), transparent  );
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 4rem;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo{
    height: fit-content;
    width: fit-content;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}
.logo img{
    height: 5vw;
    width: 5vw;
}

.logo h4{
    line-height: 23px;
    font-weight: 800;
    font: bold;
}

.pages{
    height: 9vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    border: 1px solid var(--light-yellow);
    border-radius: 10rem;
    position: fixed;
    z-index: 11;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 2px 10px var(--darklight-yellow);
}

.pages h5{
    font-size: 0.9rem;
    font-weight: 800;
    font: bold;
    cursor: pointer;
}
.pages h5:hover{
    filter: drop-shadow( 0px 0px 16px var(--brown));
    scale: 1.4;
    transition: all ease 0.2s;
}
.pages a:nth-child(3){
    border-bottom: 3px solid var(--brown);
    color: var(--brown);
}

.account-section{
    height: 5rem;
    width: 24rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
}
.account-section .sps-name h4{
    font: bold;
    font-weight: 800;
}
.account-section .socialMedia{
    height: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 10rem;
}
.account-section .socialMedia img{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.account-section .socialMedia img:hover{
    scale: 1.2;
    transition: scale ease 0.4s;
}
.account-section .socialMedia a:nth-child(1){
    visibility: hidden;
}
.account-section .socialMedia a:hover:nth-child(1){
    filter: drop-shadow(0 0 10px rgb(246, 163, 177));
}
.account-section .socialMedia a:hover:nth-child(2){
    filter: drop-shadow(0 0 10px rgb(100, 216, 133));
}
.account-section .socialMedia a:hover:nth-child(3){
    filter: drop-shadow(0 0 10px rgb(90, 138, 242));
}


.members-container{
    height: 60vh;
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.members-container div{
    height: 100%;
    width: 14.3%;
    border: 1px solid black;
}
.members-container h3{
    text-align: center;
    color: black;
    margin-top: 10px; 
}
.members-container h5{
    text-align: center;
    color: black;
    margin-top: 10px; 
}